.getPassword2{

    align-items: center;
    background-color: $fondo;
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
}

.fa-user{
color:$iconos;
font-size: 2em;
}
.fa-key{
    color:$iconos ;
    font-size: 2em;
}




.formulario2{

    border-radius: 10px;
    width: 550px;
    padding: 40px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $fondo-contenido;
    //text-align: center;
    border: 10px;
    box-shadow: 0px 0px 24px -3px rgba(0,0,0,0.5);
    
    .titulo2{
        color:$iconos;
        font-weight: 150;
        padding-bottom: 30px;
    }

 
    .texto{
        border: none;
        background: $fondo-panel;
       // display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 90%;
        outline: none;
        color: $texto-principal;
        font-weight: 500;

    }
    .boton2{
        border: none;
        background: $iconos;
        display: block;
        margin: 20px auto;
        text-align: center;
        padding: 14px 10px;
        width: 150px;
        outline: none;
        color: $fondo-contenido;
        font-weight: 500;
        border-radius: 24px;
        cursor: pointer;
        &:hover{
            background: $texto-principal;
        }



    }

    .foterlogin{
        display: flex;
        color:$texto-principal;
        .link{
            text-decoration: none;


        }
        .recuperarClave{
            font-size: 15px;
        }

    }



}