.main__content{
    display: flex;
    height: 100%;
    width: auto;

    
    
}
.main__home{
    display: flex;
    justify-content:space-between;
    background-color: #18191A;
   
    width: 100%;
  
    
    
 
}