.general-mu {
    background-color: $fondo;
}

.titulo-cabezera-mu {
    color: $texto-principal;
}

.contenedor-formulario-mu {
    background-color: $fondo-panel;
}

.label-mu {
    color: $texto-principal;
    font-weight: bold;
}

.paddtop-mu {
    padding-top: 40px;
}

.cabezera-mu {
    height: 100px;
}

.btn-formulario-mu {
    padding: 30px;
}

.titulo-label-mu {
    font-weight: bold;
    font-size: xx-large;
    padding-top: 25px;
}

.btn-mu {
    width: 100px;
    text-decoration: none;

  
}