.publicaciones{
    margin-left: auto;
    margin-right: auto;
   /* margin-right: 250px;  */
   background-color: #242526;
   height: 100%;
   justify-content: center;
   width: 43.75em;
   color: white;
   border: 1px solid  #18191A;
   flex-flow: column;

}
.lista__publicaciones{
    justify-content: center;

}

.card__publicaciones{
    justify-content: center;
    margin: 1.875em;
    background-color: $fondo-contenido;
    padding: 0.313em;
    border-radius: 5px;
}

.crear__publicacion{
    text-align: end;
    margin: 20px 29px 10px  
}



.publicaciones__texto{
    word-wrap: break-word;
    display: block;
    color: $texto-secundario;
    margin: 2px;
    font-size: 1.1em;
    line-height: 20px;
}

.publicaciones__footer{
    color: $iconos;
 margin: 0px 2px;
    width: 100%;
    display: flex;
    font-size: 20px;
}

.publicaciones__reaccion{

    margin: 0px 2px;
    
    color: $iconos;
    
    cursor: pointer;
}

.crear__titulo-input{
    outline: none;
    width: 615px;
    background-color: $fondo-contenido;
    border: none;
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
}

.crear__contenido-textarea{
    outline: none;
    resize: none;
    width: 450px;
    height: 75px;
    background-color: $fondo-contenido;
    border: none;
    color: white;
}

// remodel card publicacion
.publicaciones__heard{
    
    float: inherit;
    display: grid;
    margin: 0px 0px -1em 0px;
    padding: 0px;
  
}
.publicaciones__heard-bottom{
position: relative;
bottom:1em;
}
.publicaciones__heard-bottom-fecha{
    padding: 2px;
    font-size: 0.8em;
    margin: 2px;
    color: $tecto-opaco;
}
.publicaciones__heard-top{
 
    margin: 0px;
    padding: 0px;
}
.publicaciones__heard-top-titulo{
    font-weight: bold;
    font-size: 1.3em;
    height: 100%;
    margin: 2px;
    padding: 2px;
   color: $texto-principal;
float: left;
}
.publicaciones__heard-top-option{
    background-color: chartreuse;
float: right;

margin: 0px;
padding: 0px;
border-radius: 100%;
&:hover{
    .publicaciones__heard-top-option-content {display: block;}
}
}
.publicaciones__heard-top-option-btn{
    
    border-radius: 100%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    color: $iconos;
    border: none;
    &:hover{
        background-color: rgb(88, 86, 86);
        cursor: pointer;
        // .publicaciones__heard-top-option-content{display: block;}
    }
}
.publicaciones__heard-top-option-content{ 
    display: none;
    

    background-color: $fondo-contenido;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

   
}
.publicaciones__heard-top-option-content-list{  
    color: $iconos;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    list-style: none;
    &:hover{
        background-color: rgb(88, 86, 86);
        cursor: pointer;
    }
}
.publicaciones__heard-top-option-content-list span {
    font-weight: normal;
    color: $texto-secundario;
}
.publicaciones__multimedia{
    width: 100%;
    height: 100%;
}
.no-publicaciones{
    position: relative;
    left: 8em;
    top: 5em;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.btn__publicar{
 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    color: black;
    font-weight: bold;
    background-color: $iconos;
    padding: 1px 7px;
    margin: 1em 1em 0em 2em;
    
    border-radius: 3px;
    
    

    

}


.subir__multimedia{
    color: $iconos;
    cursor: pointer;
}

.footer__crear-publicacion{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
}

.modal-fondo{
    background-color: $fondo-panel;
    color: white;
    padding: 1px;
    border: solid 1px black;
    width: 650px;
    left: -75px;
    
}

.asa{
    background-color: red;
    justify-content: center;
   
}

.fontSize__textRich{
    
    color: black;
}
.fontFamily__textRich{
    color: black;
}

.undefined{
    background-color: $fondo-contenido;
    height: 250px;
}

.editor-class{
    background-color: $fondo-contenido;
    
}

#file[type="file"] {
	display: none;
}
.label-holder {
	width: 100%;
	
 
  display: grid;
  place-items: center;
  
}
.label{

  width: 100%;
  
  color:$iconos;;
  display: grid;
  place-items: center;
  font-size: 1.5rem ;
  cursor: pointer;
  
}
.result{
    min-height: 100%;
    max-height: 20em;
    width: 100%;
    background-color: #272c34;
    margin-top:1rem ;
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 

  }
  


 .toolbar-class{
     background-color: $fondo-contenido;
     border: none;
 }

/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}


.modal-fondo {
    background-color: rgba(53, 5, 5, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 2;
}

.modal-publicacion {
    background: $fondo-panel;
    border-radius: 5px;
    color: $texto-principal;
    display: inline;
    max-height: 80%;
    max-width: 675px;
    outline: none;
    padding: 10px;
}


/* DatePicker */
.react-datetime-picker input:focus{
    outline: none;

}

.react-datetime-picker__wrapper{
    border: 0px solid;
    
}



.form-modal{
    
    background-color: $fondo-contenido;
    border: none;
    &:focus{
        background-color: $fondo-contenido;
        border: 0;
        border-style: none;
        outline: 0;
        box-shadow: none;
        color: $texto-secundario;
    }
    color: $texto-secundario;
}