.label-titulo-ru {
    color: $iconos;
}

.label-descripcion-ru {
    color: $texto-principal;
}

.fondo-modal-ru {
    background-color: $fondo-contenido;
}

.clo-bt-ru {
    background-color: $iconos;
    border: 10px;
    border-color: aqua;
}

.espacio-row-ru {
    padding-top: 10px;
    padding-bottom: 10px;
}